:root{
    --color-neutral-0:#0e0c0c;
    --color-neutral-10:#171717;
    --color-neutral-30:#a8a29e;
    --color-neutral-40:#f5f5f5;

}



footer{
    width: 100%;
    color: var(--color-neutral-40);
    font-family: 'Montserrat';
}

.footer_link{
    text-decoration: none;
}
#footer-list-contato{
  margin-left: -10%;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
    font-family: 'Montserrat';
}
#footer_content{
    margin-bottom: 0.75rem;
    font-family: 'Montserrat';
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    margin-left: 5%;
}
.footer-p{
  margin-right: 30%;
  font-family: 'Montserrat';
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    font-family: 'Montserrat';
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: rgb(190, 17, 91);
}

#footer_map {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_map p{
    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
    font-family: 'Montserrat';
}

#input_group input{
    all:unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: 0.4s;
}

#imput.group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    margin-top: -1%;
    font-family: 'Montserrat';
}

.footer-logo{
  height: 40%;
}

* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

  .full-screen-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: pulse 5s ease ;
    animation-fill-mode: both; 
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes pulsec {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  

  .full-screen-image img {
    max-width: 100%;
    max-height: 100%;
  }


  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  header{
    background-color: #bd0414;
    animation: pulsec 0s ease; 
  }

  a:hover {
    opacity: 0.7;
  }
  
  .logo-img {
    margin-top: 10px; 
    height: 100px;
}

  .btn{
    border-radius: 20px;
    background-color: orange;
    height: 40px;
    width: auto;
    font-weight: bolder;
    font-size: 22px;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg,#e2a22c,#a3252f,#e5e5e5);
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: px;
    cursor: pointer;
    transition: background-position 1.0s ease-in-out;
    left: 10px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    
  }
  

  .btn:hover{
    background-position: right bottom;
  }
  
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgb(255,250,251);
    background: linear-gradient(155deg, rgba(255,250,251,1) 0%, rgba(254,237,238,1) 0%, rgba(244,34,39,1) 0%, rgba(206,37,86,1) 37%, rgba(244,34,39,1) 90%);
    height: 13vh;

    width: 100%;
    animation: pulsec 3s ease; 
    border-radius: 30px;
    overflow: hidden; 
  }
  
  ul.nav-list {
    border-radius: 10px;
    padding: 10px; 
    background: rgba(0, 0, 0, 0.3); 
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
  }
  
  .nav-list li {
    margin: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    position: relative;
  }
  
  .nav-list li a::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: rgb(107, 4, 224); 
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0); 
    transform-origin: bottom left;
    transition: transform 0.2s;
  }
  
  .nav-list li a:hover::after,
  .nav-list li a.active::after {
    transform: scaleX(1); /* Quando você passar o mouse ou a página estiver ativa, o traço aparecerá */
  }


  
  ul.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  ul.nav-list li:last-child {
    margin-right: 0;
  }
  



  nav .social-icon {
    font-size: 24px;
    color: white;
    margin-right: 0px;
    text-decoration: none;
  }
  
  .social-icon i {
    color: #fff;
    transition: color 0.3s;
  }
  
  .social-icon:hover i {
    color: #007bff;
  }
  
  nav .social-icon:hover {
    opacity: 0.7;
  }
  


.social-icon i {
  color: #fff; 
  transition: color 0.3s; 
}


.social-icon:hover i {
  color: #007bff; 
}



nav .social-icon:hover {
    opacity: 0.7;
}

  
  ul.nav-list {
  border-radius: 10px;
  padding: 10px; 
  background: rgba(0, 0, 0, 0.3); 
  }
  
  .nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  }
  
  .nav-list li {
  margin: 0;
  }
  
  .nav-list li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  position: relative;
  }
  
  .nav-list li a::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: rgb(107, 4, 224); 
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0); 
  transform-origin: bottom left;
  transition: transform 0.2s;
  }
  
  .nav-list li a:hover::after,
  .nav-list li a.active::after {
  transform: scaleX(1); 
  }
  
  
  
  ul.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  }
  
  ul.nav-list li:last-child {
  margin-right: 0;
  }
  
  main {
  background: url("ImagemDeFundo.png") no-repeat center center;
  background-size: cover;
  height: 100vh; 
  animation: pulsec 3s ease; 
  }
  
  .header-transition {
  transition: transform 0.5s ease;
  }
  
  .main {
  position: relative;
  height: 1500vh;
  animation: pulsec 3s ease; 
  }
  
  .scrolled .main {
  transform: translateY(100px);
  }
  
  
  .image-overlay {
  background: rgba(0, 0, 0, 0.5); 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulsec 8s ease; 
  }
  
  .image-overlay p {
  color: white;
  font-size: 100px;
  text-align: justify;
  padding: 20px;
  font-family: 'Pacifico';
  margin: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  
  }
  
  .card {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5%;
  animation: pulsec 3s ease;
  padding: 5%;
}

.card div {
  position: relative;
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.card div:hover img {
  transform: scale(1.15);
}

.card div .title-box {
  content: "";
  height: 100px;
  position: absolute;
  transform: translateY(50px);
  transition: 0.3s ease;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  width: 100%;
  z-index: 1;
}

.card div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.card div .name {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: #fff;
  transform: translateY(50px);
  padding: 10px;
  z-index: 10;
  transition: 0.3s ease;
  cursor: default;
}

.card div:hover .name,
.card div:hover .title-box {
  transform: translateY(0);
}

  
  .aumentarheight{
    padding: 5%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    
    
  }
  main .nav-list a {
    color: white ;
    text-decoration: none;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: #fff;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .btn-whatsapp {
    position: fixed;
    outline: none;
    bottom: 20px;
    left: 30px; 
    border-radius: 50%;
    height: 65px;
    width: 65px;
    cursor: pointer;
    background: rgba(52, 175, 35, 0.7);
    color: #fff;
    font-size: 2.3rem;
    border: 1px solid #f1f1f1;
    animation: pulsec 3s ease; 
  }
  
  .btn-whatsapp:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background-color: #23d366;
    border-radius: 50%;
    -webkit-animation: pulse-border 8500ms ease-out infinite;
    animation: pulse-border 5500ms ease-out infinite;
  }

  @keyframes pulse-border {
    0%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); opacity: 1;}
    100%{transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); opacity: 0;}
  }
  
  a{
    color: inherit;
  }
  
  @keyframes pulsar {
    0% {
      height: 65px;
      width: 65px;
    }
    100% {
      height: 85px;
      width: 85px;
    }
  }
  
  @keyframes pulsarimg {
    0% {
      height: 80px;
      width: 115px;
    }
    100% {
      height: 90px;
      width: 125px;
    }
  }
  
  @keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
/*(Celular Android) */
@media (max-width:361px) {
  .na.nav-list{
    display: none;
  }

  .social-icon{
    display: none;
  }
  .btn{
    font-size: 10px;
  }
  .btn-whatsapp{
    display: none;
  }
  .card{
    height: 40%;
    width: 80%;
    margin-left: 5%;
  }

  #footer_content{
    margin-top: 20%;
  }

  #footer_contacts{
    display: none;
    
  }
  .footer-list{
    flex-direction: column;
    padding: 10%;
    margin-top: -8%;
    margin-left: 5%;
    font-size: 12px;
  }

  #footer_map{
    display: none;
  }
  #footer_copyright{
    margin-top: -3.6%;
    text-align: center;
    
  }
  #footer-list-contato{
    margin-left: 1%;
  }
  main{
    background: none
  }
  .image-overlay{
    display: none;
  }

}


/*(iPhone até a versão 11) */
@media screen and (max-width:415px) {
  .na.nav-list{
    display: none;
  }

  .social-icon{
    display: none;
  }
  .btn{
    font-size: 10px;
  }
  .btn-whatsapp{
    display: none;
  }
  .card{
    height: 40%;
    width: 80%;
    margin-left: 5%;
  }

  #footer_content{
    margin-top: 20%;
  }

  #footer_contacts{
    display: none;
    
  }
  ul.nav-list{
    display: none;
  }

.footer-list{
    flex-direction: column;
    padding: 10%;
    margin-top: -7%;
    margin-left: 5%;
    font-size: 10px;

  }

  #footer_map{
    display: none;
  }
  #footer_copyright{
    margin-top: -3.6%;
    text-align: center;
    
  }
  #footer-list-contato{
    margin-left: 1%;
  }
    main{
    background: none
  }
  .image-overlay{
    display: none;
  }


}

/* (Menu)*/
@media screen and (max-width:429px) {
  .na.nav-list{
    display: none;
  }

  .social-icon{
    display: none;
  }
  .btn{
    font-size: 10px;
  }
  .btn-whatsapp{
    display: none;
  }
  .card{
    height: 40%;
    width: 80%;
    margin-left: 5%;
  }

  #footer_content{
    margin-top: 20%;
  }

  #footer_contacts{
    display: none;
    
  }
  .footer-list{
    flex-direction: column;
    padding: 10%;
    margin-top: -8%;
    margin-left: 5%;
    font-size: 12px;
  }

  #footer_map{
    display: none;
  }
  #footer_copyright{
    margin-top: -3.6%;
    text-align: center;
    
  }
  #footer-list-contato{
    margin-left: 1%;
  }
}
@media screen and (max-width:429px){
    ul.nav-list{
    display: none;
  }

.footer-list{
    flex-direction: column;
    padding: 10%;
    margin-top: -7%;
    margin-left: 5%;
    font-size: 10px;

  }


}

/* (Tablet)*/

@media (max-width: 885px) {}

/* (PC/Notebook)*/

@media (max-width: 1300px) {}

/* (abaixo de 1000)*/
@media (max-width: 1000px){}
